// v-tab with pill support
.v-tabs:not(.v-tabs-pill) {
  &.v-tabs--vertical {
    border-inline-end: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
  }
}

.v-tab__slider {
  inset-inline-end: 0;
  inset-inline-start: unset;
}

.v-tabs.v-tabs-pill:not(.v-tabs--stacked) {
  &.v-tabs--density-default {
    --v-tabs-height: 38px;
  }

  .v-tab.v-btn {
    border-radius: 0.5rem !important;
  }
}
